################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MyBootstrapTemplate/MyBootstrapTemplate/obj/Debug
/MyBootstrapTemplate/MyBootstrapTemplate/bin/Debug
/MyBootstrapTemplate/.vs/config
*.suo
